.git
.gitignore
.gitattributes
Dockerfile
.dockerignore
docker-compose.yml
docker/sail/
node_modules/
vendor/
.pnpm-store/
/public/build
/public/hot
/public/storage
/bootstrap/ssr
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/tests/Coverage
.phpunit.cache/
.phpunit.result.cache
phpunit.xml
Homestead.json
Homestead.yaml
.vscode/
.cursor/
.fleet/
.idea/
.nova/
.zed/
.phpactor.json
npm-debug.log
yarn-error.log
pnpm-debug.log
/auth.json
frankenphp
frankenphp-worker.php
README.md
*.md
docs/
.editorconfig
.prettierrc
.prettierignore
eslint.config.js
*.tmp
*.temp
*.log
